/* @theme additional */

@import "default";

section{
    background: #963;
    color: #fff
}

section.title{
    font-size: 50px;
}
h1{
    color: currentColor;
    border-bottom: 5px solid currentColor;
}
